<ion-content class="ion-padding">

  <div class="login-container">


    <h1 class="app-name">Kahoot!</h1>
    <div class="logo">
      🎮
    </div>
    <p class="subtitle">Login to continue playing</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-input
          formControlName="email"
          type="email"
          placeholder="Email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Password"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-btn">
        Login
      </ion-button>

    </form>

    <p class="register-link">
      No account yet?
      <a routerLink="/register-page">Register</a>
    </p>

  </div>

</ion-content>