<ion-content class="ion-padding">

  <div class="register-container">

    <h2>Welcome 👋</h2>
    <p class="subtitle">Create your account to start playing</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-input
          formControlName="email"
          type="email"
          placeholder="Email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="alias"
          type="text"
          placeholder="Username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="passwordConfirm"
          type="password"
          placeholder="Confirm password"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="registerForm.invalid"
        class="register-btn"
      >
        Create Account
      </ion-button>

    </form>

  <p class="login-link">
    Already have an account?
    <span class="link" (click)="goToLogin()">Login</span>
  </p>

  </div>

</ion-content>